%h1 Edit entry

= form_with(model: @entry, local: true) do |form|

  - if @entry.errors.any?
    #error_explanation
      %h2
        = pluralize(@entry.errors.count, "error")
        prohibited
        this entry from being saved:
      %ul
        - @entry.errors.full_messages.each do |msg|
          %li= msg

  %p
    = form.label :title
    %br/
    = form.text_field :title
  %p
    = form.label :content
    %br/
    =form.text_area :content
  %p
    = form.submit

%p
  = link_to "Entries List", entries_path
%p
  = link_to "Main Menu", root_path

- content_for(:title) do
  Edit Entry
