%nav.entries-menu-wrapper
  %ol.entries-menu
    - @entries.each do |entry|
      %li
        = link_to "#{entry.title}", entry_path(entry), class: 'entries-menu__item-link'
        = link_to "[Edit]", edit_entry_path(entry), class: 'entries-menu__item-link--edit'
        = link_to "[Delete]", entry_path(entry),
          method: :delete,
          data: { confirm: "Do you want to delete entry #{entry.title}?" },
          class: 'entries-menu__item-link--delete'

    %p
      = link_to 'Add entry', new_entry_path, class: 'entries-menu__item-link'
    %p
      = link_to "Main Menu", root_path, class: 'entries-menu__item-link'

- content_for(:title) do
  List of Entries
