!!!
%html
  %head
    %title #{content_for(:title)} | MADjournalApp
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Dekko&amp;subset=latin-ext"
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}/


    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %header
      %p.notice
        = notice
      %p.alert
        = alert

      - if current_user
        = link_to "Sign Out", destroy_user_session_path, method: :delete
        = link_to "Edit Profile", edit_user_registration_path

    = yield
