!!!
%html
  %head
    %title #{content_for(:title)} | MADjournalApp
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Dekko&amp;subset=latin-ext"
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}/


    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %header.notice-alert-wrapper
      %p.notice
        = notice
      %p.alert
        = alert

      - if current_user
        %section.user-authentication-wrapper__signed_in
          = link_to "[Sign Out]", destroy_user_session_path, method: :delete, class: 'user-authntication__sign-out'
          |
          = link_to "[Edit Profile]", edit_user_registration_path, class: 'user-authntication__edit-profile'

    = yield
